<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>upload</title>
</head>
<body>

<!--<form method="POST" enctype="multipart/form-data" action="/setUserinfo">-->
<form method="POST" enctype="multipart/form-data" action="/sendMoment">-
    File to upload:
    <input type="file" name="photos" />
    <input type="file" name="photos" />
    <input type="file" name="photos" />
    <input type="file" name="photos" />
    <input type="file" name="photos" />
    <input type="file" name="photos" />
    <input type="file" name="photos" />
    <input type="file" name="photos" />
    <input type="file" name="photos" />
    <br /> Name:
    <input type="text" name="name" />
    <input type="hidden" name="owner" value="itrqXZ6Q36" />
    <input type="hidden" name="ownerNickname" value="3432" />
    <input type="hidden" name="sign" value="123" />
    <input type="hidden" name="message" value="用户123456的朋友圈" />
    <br /> <br />
    <input type="submit" value="Upload" />
    Press here to upload the file!
</form>

</body>

</html>